.culoare1 {
  height: 100px;
  width: 150px;
  background-color: rgb(241, 114, 167);
}

.culoare2 {
  height: 100px;
  width: 150px;
  background: darkgreen;
}

.culoare3 {
  height: 100px;
  width: 150px;
  background-color: rgb(212, 121, 111);
}

.culoare4 {
  height: 100px;
  width: 150px;
  background-color: rgba(34, 5, 1, 0.527);
}

.gradient {
  border-radius: 300px;
  padding: 10px;
  height: 300px;
  width: 300px;
  background-image: radial-gradient(#4347E8, #C253F5, #DB4B74 , #F27946 , #E8AE43)
  
 

}
 
.spatiu{
  width: 400px;
  height: 400px;
}

.patrat{
  width: 200px;
  height: 200px;
  background-color: #ffbb00;
  margin-left: 600px;
  margin-right: 300px;
  margin-top: -730px;
  margin-bottom: 120px;
  border-radius: 10px;
  border: 10px solid rgb(140, 0, 255);
  border: 20px dashed rgb(255, 255, 255);
  border: 20px dotted red;
  border: 20px double red;
  border: 20px groove red;
  border: 20px ridge red;
  border: 20px inset blue;
  border: 20px outset blue;
  border-left: 10px #4347E8;
  border-top-left-radius: 100%;
 
  

  


}
.triunghi{
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right:130px solid transparent;
  border-bottom: 100px solid rgb(234, 79, 198);
  margin-left: 400px;
  margin-top: 300px;
  
  

}
























































































































































































+



























































